@model FinalProject.Controllers.StatisticsController.DonutData[]
<html style="height: 100%;"></html>
<body>
<div class="container row">
    <div id="donut" class="col-md-1">
        @section Scripts
        {
            @Scripts.Render("~/bundles/jqueryval")

            <script src="../../Scripts/d3.min.js"></script>
            <script src="../../Scripts/Donut3D.js"></script>
            <script>
                var data = @Html.Raw(Json.Encode(Model));

                var svg = d3.select("#donut").append("svg").attr("width", 410).attr("height", 300);

                svg.append("g").attr("id", "salesDonut");

                Donut3D.draw("salesDonut", randomData(), 150, 150, 130, 100, 30, 0.4);

                function changeData() {
                    Donut3D.transition("salesDonut", randomData(), 130, 100, 30, 0.4);
                }

                function randomData() {
                    return data.map(function(d) {
                        return { label: d.categoryName, value: d.count, color: d.color };
                    });
                }

            </script>
        }
    </div>
    <div class="col-md-10">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-3">
                    @Html.DisplayFor(model => item.categoryName)
                </div>
                <div class="col-md-9" style="height: 13px; width: 3px; background-color: @Html.DisplayFor(model => item.color)">
                </div>
            </div>
        }
    </div>
</div>
</body>