body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: white;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.content-column {
    height: 100%;
    border-right: 1px solid silver;
}

.content-row {
    padding-top: 10px;
}

.header-icon {
    margin-left: 8px;
    margin-top: 1px;
    font-size: 60px;
}
.navbar-inverse {
  background-color: rgb(8, 171, 171);
}
.name-header {
    margin-top: 10px;
}

.site-menu {
    height: 50px;
    background-color: darkslategray;
}

.site-menu-items {
    margin-top: 27px;
}

.site-menu-items a{
    margin-top: 27px;
    margin-right: 120px;
    color: white;
}

.name-header b {
    color: white;
    font-size: large;
}

.register-form {
    width: 40%;
    margin-right: 263px;
}

.header-link {
    margin-left: 20px;
    margin-top: 6px;
}

.header-link a {
      color: black;
}

.site-btn {
    color: #fff;
    background-color: teal;
    border-color: white;
}

.site-btn:hover, .site-btn:focus, .site-btn.focus {
    color: white;
    text-decoration: none;
    background: darkslategrey;
}

.site-header h1 {
    background: -webkit-linear-gradient(top, #659CEF, #FFFFFF);
	background: linear-gradient( lightcyan, #FFFFFF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 3em;
    font-weight: bold;
    margin-top: 12px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.login-btn {
    margin-top: 12px;   
}

.form-input {
    margin-bottom: 1px;
}

.site-content {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    box-shadow: 1px -1px 29px silver;
}

.site-container {
    width: 75%;
    height: 100%;
}